<!DOCTYPE html>
<!--
	VISUAL by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
<head>
<!-- Meta Data -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TEKTRANS - PT TEKNOLOGI TRANSAKSI DIGITAL</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<script src="https://use.fontawesome.com/5b0ffaaff9.js"></script>

<link rel="stylesheet" href="/css/style.min.css" type="text/css" />
<link rel="stylesheet" href="/css/no-ui-slider/jquery.nouislider.css" type="text/css" />

<!-- Skin Color -->
<link rel="stylesheet" href="/css/colors/green.css" id="color-skins"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DLMKFSHH95"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ config.gtag_id }}');
</script>

<!--
  {% block beforeHeadEnd %}
  {% endblock %}
-->

</head>
<body>

<!-- Start Preloader -->
<div id="loader">
   <div class="spinner">
      <div class="cube cube0"></div>
      <div class="cube cube1"></div>
      <div class="cube cube2"></div>
      <div class="cube cube3"></div>
      <div class="cube cube4"></div>
      <div class="cube cube5"></div>
      <div class="cube cube6"></div>
      <div class="cube cube7"></div>
      <div class="cube cube8"></div>
      <div class="cube cube9"></div>
      <div class="cube cube10"></div>
      <div class="cube cube11"></div>
      <div class="cube cube12"></div>
      <div class="cube cube13"></div>
      <div class="cube cube14"></div>
      <div class="cube cube15"></div>
   </div>
</div>
<!-- End Preloader -->

<!-- Start Header -->
<header>
   <nav class="navbar navbar-default navbar-alt" role="navigation">
      <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand to-top" rel="home" href="#">
               <img src="img/tektrans-logo-atas.png" alt="TEKTRANS" class="logo-big">
               <img src="img/tektrans-logo-atas.png" alt="TEKTRANS" class="logo-small">
            </a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav  navbar-right">
               <li>
                  <a class="to-top">
                     Home
                  </a>
               </li>
               <li class="to-section">
                  <a href="#about">
                     About Us
                  </a>
               </li>
               <li class="to-section">
                  <a href="#team">
                     Team
                  </a>
               </li>
               <li class="to-section">
                  <a href="#clients">
                     Clients
                  </a>
               </li>
               <li class="to-section">
                  <a href="#contact">
                     Contact
                  </a>
               </li>
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
   </nav>
</header>
<!-- End Header -->

{% block body %}
{% endblock body %}

{% include "default-blocks/scripts-before-body-end.js.njk" %}

{% block beforeBodyEnd %}
{% endblock %}
</body>
</html>
